.select_city {
	color: #666;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin: 5px 0 0 13px;
}

.tabs_content {
	display: none;
}

.tabs_content.active {
	display: block;
}

.city_tabs {
	margin: 12px 0 0 14px; 
}
.city_tabs_button {
	display: inline-block;
	color: #009900;
	font: 13px "OpenSans", Arial, sans-serif;
	border: 1px solid  #009900;
	padding: 8px 10px;
}

.city_tabs_button.active {
	color: #fff;
	background: #ff4f12;
	border-color: #ff4f12;
	text-decoration: none;
}

.city_tabs_button:first-child {
	margin-right: 12px;
}

.row_flex {
    -webkit-display: flex;
    -ms-display: flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 26px 0 40px 14px;
}

.city_item {
	margin-bottom: 50px;
	width: 16.66666%;
}

.city_item_img {
	width: 90px;
	height: 54px;
	overflow: hidden;
}

.city_item_img img {
	width: 100%;
	height: auto;
}

.city_item_title {
	font: 700 16px "OpenSans", Arial, sans-serif;
	color: #000;
	margin: 24px 0;
}

.city_item_list > li > a {
	font: 13px "OpenSans", Arial, sans-serif;
	color: #009900;
}

.city_item_list > li + li {
	margin-top: 8px;
}

.content_text {
	margin: 0 0 70px 14px;
}

.content_text_title {
	font: 18px "OpenSans", Arial, sans-serif;
	margin-bottom: 25px;
}

.content_text p {
	font: 13px "OpenSans", Arial, sans-serif;
	line-height: 18px;
}

.content_text p + p {
	margin-top: 22px;
}  

@media(max-width: 998px) {
	.city_item {
		margin-bottom: 50px;
		width: 33.33333%;
	}
}

@media(max-width: 640px) {
	.city_item_title { font-size: 32px; }
	.city_item_list > li > a {
		font-size: 28px;
	}

	.city_tabs { margin-top: 30px;}

	.georgia_title_2 { font-size: 42px; }
	.select_city { font-size: 21px; }
	.row_flex { margin-top: 70px; }

	.city_item {
		margin-bottom: 50px;
		width: 50%;
	}
}

@media(max-width: 580px) {
	.city_item_title { font-size: 28px; }
	.city_item_list > li > a {
		font-size: 24px;
	}
}

@media(max-width: 480px) {
	.city_item_title { font-size: 16px; }
	.city_item_list > li > a {
		font-size: 14px;
	}

	.georgia_title_2 { font-size: 30px; }
	.select_city { font-size: 18px; }
	
} 

@media(max-width: 360px) {
	.city_item {
		width: 100%;
	}

	.city_item_title { font-size: 28px; }
	.city_item_list > li > a {
		font-size: 22px;
	}
}